@media (max-width: 768px) {
  body {
    background-color: #ffd1dc;
  }

  main {
    width: 85%;
  }

  h1 {
    position: absolute;
    left: 220px;
    top: 67px;
    font-size: 3rem;
    color: #263238;
    letter-spacing: 3px;
  }

  .first-section {
    flex-direction: column;
    align-items: center;
  }

  .image-01 img,
  img {
    width: 100%;
    height: auto;
  }

  .image-02 img {
    width: 100%;
    height: auto;
  }

  .image-02 {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
  }

  .text-01 {
    margin-top: 10px;
    width: 100%;
  }


  .colors {
    flex-direction: row;
    margin: 40px 0;
    justify-content: space-between;
    width: 100%;
  }


  .detail {
    width: 50px;
    height: 50px;
  }

   .color-01,
  .color-02,
  .color-03 {
    width: 805px;
    height: 50px;
  }
  .second-section {
    margin-top: 0;
    flex-direction: column-reverse;
    align-items: end;
  }

  .skills-characteristics {
    flex-direction: column;
  }

  .arrows {
    width: 70px;
    height: auto;
    align-items: center;
    justify-content: start;
  }
}
